.numbers {
  font-size: 60px;
  line-height: 70px;
  padding: 32px;
}

.infoCards {
  min-width: 300px;
  margin: 16px;
}

.user-card {
  width: 300px;
  margin: 8px;
}

.action-btn {
  width: 70%;
}

.section-title {
  margin-left: 8px;
  text-align: left;
}

.main {
  margin: 8px;
}

@media screen and (min-width: 600px) {

  .nested-content {
    width: 100vw;
    justify-content: flex-start;
  }

}
