.numbers {
  font-size: 60px;
  line-height: 70px;
  padding: 32px;
}

.infoCards {
  min-width: 300px;
  margin-right: 16px;
}

.user-card {
  width: 300px;
  margin: 8px;
}

.nested-content {
  padding: 0;
}

.action-btn {
  width: 70%;
}

.section-title {
  margin-left: 8px;
  text-align: left;
}

.main {
  margin: 8px;
}

@media screen and (min-width: 600px) {

  .nested-content {
    width: 100vw;
    justify-content: flex-start;
  }

}

@media screen and (max-width: 599px) {
  .infoCards {
    width: 300px;
    margin: 0px;
    margin-bottom: 16px;
  }

  .nested-content {
    align-items : center;
  }
}


