#addAuction {
  position: fixed;
  bottom: 8vh;
  right: 5vw;
}

.user-card {
  width: 300px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.nested-content {
  padding: 0;
}
.action-btn {
  width: 70%;
}



.action-btn:first-child {
  margin-bottom: 12px;
}

@media screen and (min-width: 600px) {
  .nested-content {
    justify-content: flex-start;
  }
  .nested-content {
    min-width: 100vw;
  }
}


@media screen and (max-width: 599px) {
  .user-card {
    width: 300px;
    margin: 0px;
    margin-bottom: 16px;
  }

  .nested-content {
    align-items : center;
  }
}
