#addAuction {
  position: fixed;
  bottom: 8vh;
  right: 5vw;
}

.user-card {
  width: 300px;
  margin: 8px;
}


.action-btn {
  width: 70%;
}

.action-btn:first-child {
  margin-bottom: 12px;
}

@media screen and (min-width: 600px) {
  .user-card:first-child {
    margin-left: 16px;
  }

  .nested-content {
    width: 100vw;
    justify-content: flex-start;
  }

}
