<div class="container">
  <div class="nested-content">
    <mat-card *ngIf="auction" id="auction">
      <div id="auction-header">
        <div>
          <mat-card-title *ngIf="!edit">{{auction.book[0].title}}</mat-card-title>
          <mat-form-field  *ngIf="edit">
            <mat-label *ngIf="edit">Titolo del libro</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [(ngModel)]="auction.book[0].title">
          </mat-form-field>
          <br *ngIf="edit">
          <mat-card-subtitle *ngIf="!edit">{{auction.book[0].author}}</mat-card-subtitle>
          <mat-form-field  *ngIf="edit">
            <mat-label *ngIf="edit">Autore</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [(ngModel)]="auction.book[0].author">
          </mat-form-field>
        </div>
        <div>
          <p *ngIf="!edit && auction.clock > 0">Scade tra:</p>
          <p id="clock" *ngIf="!edit">{{auction.clock > 0 ? (auction.clock | clock) : 'Conclusa'}}</p>
          <mat-form-field class="full-width" *ngIf="edit">
            <mat-label *ngIf="edit">Scade tra</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [ngModel]="auction.clock | clock"
              (focus)="stop()"
              (focusout)="start()"
              (input)="auction.clock = reverseClock($event)">
            </mat-form-field>
        </div>
      </div>
      <mat-card-content>
        <h3 *ngIf="!edit">Università: {{auction.book[0].university}}</h3>
        <mat-form-field class="full-width" *ngIf="edit">
          <mat-label *ngIf="edit">Università</mat-label>
          <input
            matInput
            [(ngModel)]="auction.book[0].university">
        </mat-form-field>
        <h3>Offerte:</h3>
        <mat-list id="offers">
          <mat-list-item *ngFor="let offer of auction.offers.reverse()">
            <div [ngClass]="{'offer-block': !this.edit}">
              <div>
                <p *ngIf="!edit">{{offer.username}}</p>
                <mat-form-field  *ngIf="edit">
                  <mat-label *ngIf="edit">Utente:</mat-label>
                  <input
                    matInput
                    [(ngModel)]="offer.username">
                </mat-form-field>
                <p *ngIf="!edit" class="sub">{{offer.timestamp | date}}</p>
                <mat-form-field  *ngIf="edit">
                  <mat-label *ngIf="edit">Data</mat-label>
                  <input
                    matInput
                    [ngModel]="offer.timestamp | date"
                    (ngModelChange)="offer.timestamp = reverseDate($event, offer.timestamp)">
                  </mat-form-field>
                <mat-form-field  *ngIf="edit">
                  <mat-label *ngIf="edit">Offerta</mat-label>
                  <input
                    matInput
                    type="number"
                    [(ngModel)]="offer.amount">
                </mat-form-field>
              </div>
              <div>
                <p *ngIf="!edit" class="offer">+ {{offer.delta}}</p>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
        <h3 *ngIf="!edit">{{ (auction.clock > 0) ? 'Prezzo attuale: ' : 'Venduta a: '}}<span class="offer">{{auction.currentPrice}}€</span></h3>
        <mat-form-field class="full-width" *ngIf="edit">
          <mat-label *ngIf="edit">{{(auction.clock > 0) ? 'Prezzo attuale: ' : 'Venduta a: '}}</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="auction.currentPrice">
        </mat-form-field>
      </mat-card-content>
      <mat-dialog-actions id="custom-actions">
        <h3 *ngIf="!edit && auction.clock > 0">{{(logged) ? "Fai un'offerta" : "Per poter fare un'offerta devi essere loggato" }}</h3>
        <form *ngIf="logged && !edit && auction.clock > 0">
          <mat-form-field>
            <mat-label>Importo</mat-label>
            <input
              type="number"
              matInput
              [placeholder]="auction.currentPrice + 1"
              name="offer"
              [formControl]="(logged) ? fields.offer : null"
              >
              <mat-error >{{checkError('offer')}}</mat-error>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="save()" *ngIf="edit">Salva</button>
        <button mat-raised-button color="primary" (click)="makeOffer()"  *ngIf="!edit && auction.clock > 0" [disabled]="!fields.offer.valid || fields.offer.value < auction.currentPrice || !logged || auction.clock < 0">Offri</button>
      </mat-dialog-actions>
    </mat-card>
    <mat-card id="chat" *ngIf="ready">
      <mat-card-title>Chat</mat-card-title>
      <mat-card-content>
        <div id="logged-error" *ngIf="!logged">
          <div class="reduced-text">
            <h3>Per poter accedere alle chat devi essere loggato</h3>
          </div>
          <button mat-raised-button (click)="go2Login()">Accedi</button>
        </div>
        <mat-tab-group id="vertical-tabs" *ngIf="logged">
          <mat-tab *ngFor="let chat of chats" [label]="chat.receiverUs ? chat.receiverUs : 'Pubblica' ">
            <app-chat [configuration] = "chat"></app-chat>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

