.offer {
  color: green;
  font-weight: 500;
}

#chat, #auction  {
  min-width: 35vw;
  min-height: 75vh;
}

#savebtn {
  margin-right: 16px;
}

#auction {
  text-align: left !important;
}

.nested-content {
  justify-content: space-around;
}

.sub {
  padding-top: 0;
  margin-top: -15px;
  font-size: 10px;
}

.offer-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

#offers {
  overflow-y: scroll;
  max-height: 40vh;
}

#logged-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reduced-text {
  max-width: 250px;
}

#auction-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#clock {
  font-size: 24px;
}

.mat-form-field {
  min-width: 250px;
}

.mat-form-field.reduced {
  min-width: 80px;
  width: 80px;
  padding-right: 16px;
}

.mat-list-base .mat-list-item:nth-child(odd) {
  background-color: #FAFAFA;
}
.mat-list-base .mat-list-item {
  padding: 12px 0;
}

.mat-card-content>:last-child:not(.mat-card-footer) {
  padding-top: 16px;
}



@media screen and (min-width: 600px) {
  .mat-tab-group {
    flex-direction: row !important;
  }
  #chat #vertical-tabs .mat-tab-labels {
    display: flex;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 599px) {
  #auction {
    margin-bottom: 16px;
  }
  #clock {
    font-size: 16px;
  }

  #offers {
    max-height: 25vh;
  }

  h3 {
    text-align: left;
  }

  #auction-header {
    flex-direction: column;
  }

  #auction-header .mat-form-field {
    width: 100%;
  }

  .edit-form {
    min-height: 180px;
  }

  #custom-actions {
    position: relative;
    bottom: 0;
  }
}
