<div class="container">
  <div class="nested-content" *ngIf="ready">
    <mat-card *ngIf="auction" id="auction">
      <div id="auction-header">
        <div>
          <mat-card-title>{{edit ? 'Modifica inserizione' : auction.book[0].title}}</mat-card-title>
          <mat-form-field  *ngIf="edit">
            <mat-label *ngIf="edit">Titolo del libro</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [(ngModel)]="auction.book[0].title">
          </mat-form-field>
          <br>
          <mat-card-subtitle *ngIf="!edit"><b>Università: </b>{{auction.book[0].university}}</mat-card-subtitle>
          <mat-form-field  *ngIf="edit">
            <mat-label *ngIf="edit">Università</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [(ngModel)]="auction.book[0].university">
          </mat-form-field>
          <br *ngIf="edit">
          <mat-card-subtitle *ngIf="!edit"><b>Autore: </b> {{auction.book[0].author}}</mat-card-subtitle>
          <mat-form-field  *ngIf="edit">
            <mat-label *ngIf="edit">Autore</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [(ngModel)]="auction.book[0].author">
          </mat-form-field>
          <br *ngIf="edit">
          <mat-card-subtitle *ngIf="!edit"><b>Corso: </b>{{auction.book[0].course}}</mat-card-subtitle>
          <mat-form-field  *ngIf="edit">
            <mat-label *ngIf="edit">Corso</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [(ngModel)]="auction.book[0].course">
          </mat-form-field>
        </div>
        <div>
          <p *ngIf="!edit && auction.clock > 0">Scade tra:</p>
          <p id="clock" *ngIf="!edit">{{auction.clock > 0 ? (auction.clock | clock) : 'Conclusa'}}</p>
          <mat-form-field class="full-width" *ngIf="edit">
            <mat-label *ngIf="edit">Scade il</mat-label>
            <input
              matInput
              type="datetime-local"
              [ngModel]="expireDate"
              (focus)="stop()"
              (focusout)="start()"
              (input)="expireDate = $event.target.value">
            </mat-form-field>
        </div>
      </div>
      <br>
      <mat-card-content>
        <h3 *ngIf="auction.offers.length > 0" >Offerte:</h3>
        <mat-list id="offers" *ngIf="auction.offers.length > 0">
          <mat-list-item *ngFor="let offer of auction.offers.reverse()" [ngClass]="{'edit-form': edit }">
            <div [ngClass]="{'offer-block': !this.edit}">
              <div>
                <p *ngIf="!edit">{{offer.username}}</p>
                <mat-form-field  *ngIf="edit">
                  <mat-label *ngIf="edit">Utente:</mat-label>
                  <input
                    matInput
                    [(ngModel)]="offer.username">
                </mat-form-field>
                <p *ngIf="!edit" class="sub">{{offer.timestamp | date}}</p>
                <mat-form-field  *ngIf="edit">
                  <mat-label *ngIf="edit">Data</mat-label>
                  <input
                    matInput
                    type="datetime-local"
                    [ngModel]="offer.timestamp"
                    (input)="offer.timestamp = $event.target.value">
                  </mat-form-field>
                <mat-form-field  *ngIf="edit">
                  <mat-label *ngIf="edit">Offerta</mat-label>
                  <input
                    matInput
                    type="number"
                    [(ngModel)]="offer.amount">
                </mat-form-field>
              </div>
              <div>
                <p *ngIf="!edit" class="offer">+ {{offer.delta}}</p>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
        <h3 *ngIf="!edit">{{ (auction.clock > 0) ? 'Prezzo attuale: ' : 'Venduta a: '}}<span class="offer">{{auction.currentPrice}}€</span></h3>
        <div *ngIf="edit">
            <mat-form-field class="reduced">
              <mat-label *ngIf="edit">{{(auction.clock > 0) ? 'Prezzo attuale: ' : 'Venduta a: '}}</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="auction.currentPrice">
            </mat-form-field>
            <mat-form-field *ngIf="edit" class="reduced">
              <mat-label *ngIf="edit">Prezzo di riserva</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="auction.threshold">
            </mat-form-field>
        </div>
      </mat-card-content>
      <mat-dialog-actions id="custom-actions">
        <h3 *ngIf="!edit && auction.clock > 0 && !isTheLastWhoOffer">{{(logged) ? "Fai un'offerta" : "Per poter fare un'offerta devi essere loggato" }}</h3>
        <br>
        <form *ngIf="logged && !edit && auction.clock > 0 && !isTheLastWhoOffer">
          <mat-form-field>
            <mat-label>Importo</mat-label>
            <input
              type="number"
              matInput
              [placeholder]="auction.currentPrice + 1"
              name="offer"
              [formControl]="(logged) ? fields.offer : null"
              >
              <mat-error >{{checkError('offer')}}</mat-error>
          </mat-form-field>
        </form>
        <p *ngIf="!edit && isTheLastWhoOffer">L'ultima offerta è la tua</p>
        <button mat-raised-button color="primary" (click)="save()" *ngIf="edit" id="savebtn">Salva</button>
        <button mat-raised-button color="error" (click)="delete()" *ngIf="edit">Elimina</button>
        <button mat-raised-button color="primary" (click)="makeOffer()"  *ngIf="!edit && auction.clock > 0 && logged" [disabled]="!fields.offer.valid || fields.offer.value < auction.currentPrice || isTheLastWhoOffer">Offri</button>
        <button *ngIf="!logged" mat-raised-button (click)="go2Login()">Accedi</button>
      </mat-dialog-actions>
    </mat-card>
    <mat-card id="chat" *ngIf="ready && !edit">
      <mat-card-title>Chat</mat-card-title>
      <mat-card-content>
        <div id="logged-error" *ngIf="!logged">
          <div class="reduced-text">
            <h3>Per poter accedere alle chat devi essere loggato</h3>
          </div>
          <button mat-raised-button (click)="go2Login()">Accedi</button>
        </div>
        <mat-tab-group id="vertical-tabs" *ngIf="logged">
          <mat-tab *ngFor="let chat of chats" [label]="chat.receiverUs ? chat.receiverUs : 'Pubblica' ">
            <app-chat [configuration] = "chat"></app-chat>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

