<div class="container">
  <div class="nested-content">
    <mat-card>
      <br>
      <mat-card-title color="primary">
        <h1>Reset Password</h1>
      </mat-card-title>
      <mat-card-content class="contained">
        <form>
          <mat-form-field class="full-width">
            <mat-label>Nuova Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" name="password" autocomplete="new-password" matInput [(ngModel)] = "password" >
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <br>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Conferma password</mat-label>
            <input [type]="hide ? 'password' : 'text'" name="confirmpassword" autocomplete="new-password" matInput [(ngModel)] = "confirmpassword">
            <br>
          </mat-form-field>
        </form>
        <br>
        <br>
        <div>
          <button mat-raised-button color="primary" class="full-width" (click)="resetPassword()">Conferma</button>
          <br><br>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

