<div class="container">
  <div class="nested-content">
    <mat-card>
      <br>
      <mat-card-title color="primary">
        <h1>Reset Password</h1>
      </mat-card-title>
      <mat-card-subtitle><p *ngIf="wrong" style="color: red">Password non resettata</p></mat-card-subtitle>
      <mat-card-content class="contained">
        <form>
          <mat-form-field class="full-width">
            <mat-label>Nuova Password</mat-label>
            <input 
              [type]="hide ? 'password' : 'text'" 
              name="password" 
              autocomplete="new-password" 
              matInput [formControl] = "password" 
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}
              <ul *ngIf="password.hasError('pattern')">
                <li>Almeno una lettera maiuscole</li>
                <li>Almeno un carattere speciale !@#$&*</li>
                <li>Almeno un numero </li>
                <li>Almeno una lettera minuscola</li>
                <li>Lunghezza minima di 8 caratteri</li>
              </ul>
            </mat-error>
            <br>
          </mat-form-field>
          <br>
          <br *ngIf="password.hasError('pattern')">
          <br *ngIf="password.hasError('pattern')">
        </form>
        <br>
        <br>
        <div>
          <button mat-raised-button color="primary" class="full-width" (click)="resetPassword()">Conferma</button>
          <div class="full-width" *ngIf="waiting" class="spinner-container" >
            <mat-spinner diameter=30 class="spinner"></mat-spinner>
          </div>
          <br><br>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

