.nested-content {
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.nested-content h1 {
  padding-bottom: 16px;
}

.nested-content button {
  width: 200px;
  margin: auto;
}

i {
  font-size: 100px;
  color: red;
  padding-bottom: 16px;
}
