.nested-content {
  max-width: 500px !important;
}

.container {
  align-items: center;
}

.contained {
  padding-top: 0px;
  padding-bottom: 1.25vw;
}


#login {
  margin-top: 7px;
  margin-bottom: 7px;
}