.container {
  align-items: center;
}

.nested-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contained {
  padding-top: 0px;
  padding-bottom: 1.25vw;
}

#login-card {
  max-width: 500px;
}

#login {
  margin-top: 7px;
  margin-bottom: 7px;
}
