<div class="container">
  <div class="nested-content">
    <mat-card>
      <br>
      <mat-card-title color="primary">
        Login
      </mat-card-title>
      <br>
      <mat-form-field *ngIf="!isUser">
        <mat-label>Nome</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="!isUser">
        <mat-label>Cognome</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="!isUser">
        <mat-label>Conferma password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <br>
      <br>
      <div>
        <button mat-raised-button color="primary">{{isUser ? 'Accedi' : 'Registrati'}}</button>
      </div>
      <br>
      <br>
      <mat-card-actions>
        <p>{{isUser ? 'Non sei': 'Sei'}} registrato ?</p>
        <p class="switch" (click)="switch()">{{isUser ? 'Registrati': 'Accedi'}}</p>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

