<div class="container">
  <div class="nested-content">
    <mat-card id="login-card">
      <br>
      <mat-card-title color="primary">
        <h1>Login</h1>
      </mat-card-title>
      <mat-card-content class="contained">
        <form name="loginForm" [formGroup]="isUser ? loginForm : registerForm">
          <div *ngIf="!isUser" style="text-align: left;">
            <div class="multi-input">
              <mat-form-field >
                <mat-label>Nome</mat-label>
                <input
                  type="text"
                  name="firstname"
                  autocomplete="firstname"
                  matInput [formControl] = "fields.firstname"
                  required>
                <mat-error >{{checkError('firstname')}}</mat-error>
                <br>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cognome</mat-label>
                <input
                  type="text"
                  name="lastname"
                  autocomplete="lastname"
                  matInput [formControl] = "fields.lastname"
                  required>
                <mat-error>{{checkError('lastname')}}</mat-error>
                <br>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="!isUser" style="text-align: left;">
            <mat-form-field class="full-width">
              <mat-label >Indirizzo</mat-label>
              <input
                type="text"
                name="address"
                autocomplete="street-address"
                matInput [formControl] = "fields.address"
                required>
              <mat-error >{{checkError('address')}}</mat-error>
              <br>
            </mat-form-field>
            <div class="multi-input">
              <div style="width: 30%; max-width: 180px" class="multi-input">
                <mat-form-field style="width: 100%;">
                  <mat-label>Regione</mat-label>
                  <mat-select
                    [(value)]="location.Regione"
                    (selectionChange)="updateLocation('regione', $event)"
                    matInput
                    required
                  >
                  <mat-option *ngFor="let regione of regioni" [value]="regione">{{regione}}</mat-option>
                  </mat-select>
                  <br>
                </mat-form-field>
              </div>
              <div style="width: 30%; max-width: 180px" class="multi-input">
                <mat-form-field style="width: 100%;">
                  <mat-label>Provincia</mat-label>
                  <mat-select
                    [(value)]="location.Provincia"
                    matInput
                    required
                    (selectionChange)="updateLocation('provincia', $event)"
                  >
                  <mat-option *ngFor="let provincia of province" [value]="provincia">{{provincia}}</mat-option>
                  </mat-select>
                  <br>
                </mat-form-field>
              </div>
              <div style="width: 30%; max-width: 180px" class="multi-input">
                <mat-form-field style="width: 100%;">
                  <mat-label>Comune</mat-label>
                  <mat-select
                    [(value)]="location.Comune"
                    matInput
                    required
                  >
                  <mat-option *ngFor="let comune of comuni" [value]="comune" >{{comune}}</mat-option>
                  </mat-select>
                  <br>
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-form-field class="full-width" *ngIf="!isModerator">
            <mat-label>Email</mat-label>
            <input
              type="email"
              name="email"
              autocomplete="email"
              matInput [formControl] = "fields.email" required>
            <mat-error *ngIf="fields.email.invalid">{{checkError("email")}}</mat-error>
            <br>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              name="password"
              [autocomplete]="isUser ? 'current-password': 'new-password'"
              matInput [formControl] = "fields.password"
              placeholder="AA#12abc"
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="fields.password.invalid">{{checkError("password")}}
              <ul *ngIf="fields.password.hasError('pattern')">
                <li>Almeno due lettere maiuscole</li>
                <li>Almeno un carattere speciale !@#$&*</li>
                <li>Almeno due numeri </li>
                <li>Almeno tre lettere minuscole</li>
                <li>Lunghezza minima di 8 caratteri</li>
              </ul>
            </mat-error>
            <br>
          </mat-form-field>
        </form>
        <br>
        <br>
        <br *ngIf="fields.password.hasError('pattern')">
        <br *ngIf="fields.password.hasError('pattern')">
        <div>
          <button mat-raised-button [disabled]="isUser ? loginForm.invalid : registerForm.invalid" color="primary" class="full-width" id="login" (click)="isUser ? login() : register()">
            {{ (isUser ? 'Accedi' : 'Registrati')}}
          </button>
          <br><br>
          <p *ngIf="isUser" class="switch" (click)="openDialog()">Password dimenticata?</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <p class="switch" (click)="switch()">{{isUser ? 'Registrati': 'Accedi'}}</p>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

