<div class="dialog">
  <h1 mat-dialog-title>Password dimenticata</h1>
  <div mat-dialog-content>
    <p>Inserisci il tuo indirizzo email, riceverai una mail con le istruzioni da seguire</p>
    <mat-form-field class="full-width">
      <mat-label>La tua email</mat-label>
      <input matInput type = "text" [(ngModel)] = "email" >
    </mat-form-field>
    <br>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()" class="full-width">Invia</button>
  </div>
</div>
