/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*******************************************
 * LAYOUT
 */
.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nested-content {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.full-width {
  width: 100%;
}

.contained {
  padding: 2.5vw;
}

.dialog {
  max-width: 400px;
}

.distanced {
  margin-left: 16px;
}

@media screen and (max-width: 600px) {
  .nested-content {
    padding: 30px;
  }
}


/*******************************************
 * UTILITIES
 */

.switch {
  text-decoration: underline;
}

.switch:hover {
  cursor: pointer;
}

.spinner-container {
  margin: 0;
  padding: 0;
}

.spinner {
  margin: auto;
}
/*******************************************
 * FORMS
 */
.multi-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.half {
  max-width: 17.5%
}

@media screen and (max-width: 600px) {
  .multi-input {
    flex-direction: column;
  }

  .half {
    max-width: 100%;
  }
}