.nested-content{
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.container {
  align-items: start;
}

.nested-content h1 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.auction-card {
  margin-bottom: 16px;
}

.book-image {
  background-image: url('/assets/book.png');
  background-size: cover;
}

.mat-card {
  min-width: min(80vw, 300px);
  text-align: left !important;
  margin-right: 16px;
  margin-bottom: 16px;
}

.cards {
  display: flex;
  flex-direction: row;
  min-width: 80vw;
}

#search {
  width: calc(100vw - 32px);
}

.filters {
  display: flex;
  justify-items: start;
  padding-bottom: 8px;
  flex-wrap: wrap;
}

.filters button, .filters .mat-form-field {
  margin: 0 3px;
}

.filters .mat-form-field {
  max-width: 90px;
}

.auctions {
  margin-top: 16px;
}

@media screen and (max-width: 600px) {
  .cards {
    flex-direction: column  ;
  }

  .mat-card {
    margin-right: 0;
  }

  .multi-input, .filters .mat-form-field {
    width: 100% !important;
    max-width: 100% !important;
  }

  .filters button {
    margin: 6px
  }

  #search, .mat-expansion-panel {
    width: calc(100vw - 32px);
  }
}
